






/******************** Related Items and Comparisons ********************/

/* Added shadows to create the "card" effect (because it's pretty) */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-color: rgb(0, 0, 0);
  border-width: .1em;
  border-style: solid;
  width: 300px;
}

/* On mouse-over, added a deeper shadow (because it's pretty) */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Added some padding inside the card container */
.container {
  background-color: rgb(218, 215, 250);
  padding: 2px 16px;
  overflow: hidden;
}

.card-list {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
}

/* Specifies that all img tags in all elements with class "star-images" will have this styling */
.star-images img {
    width: 17px;
    /* max-width: 100%; */
}

.clickable-img img {
  width: 300px;

  /* max-width: 100%; */
  /* display: block;
  touch-action: pinch-zoom; */
}

/* this position:relative is what the button below should consider its boundaries (the button is in the div with className=card */
.card {
  position: relative;
  display: inline-block;

}

.comparison-button {
  position: absolute; /* this makes the star able to occupy the same space as its neighbors inside its container */
  top: 0;
  right: 0;
  width: 25px;
  padding: 10px
  /* max-width: 100%; */

}

/******************** Ratings and Reviews ********************/

body {
  padding: 10px;
  background-color: antiquewhite;
}


.column-L {
  float: left;
  width: 25%;
  border: dashed;
}

.column-R {
  float: right;
  width: 73%;
  border: dashed;
}

.RR-sidebar {
  padding: 3px;
  background-color: rgb(241, 241, 241)
}

.RR-ratings-list {
  padding: 3px;
  background-color: rgb(241, 241, 241);
}

.RR-list-entry {
  padding: 3px;
  background-color: rgba(192, 192, 192, 0.781);
  border: 5px;
  border: solid;
}

.RR-user-date {
  text-align: right;
  font-size: larger;
  height: 32px;
}

.RR-feedback {
  padding: 3px;
  border: 5px;
  border: inset;
  border-color: black;
  background-color: gray;
}

button {
  padding: 3px;
}